body {
	padding-top: 60px;
	padding-bottom: 40px;
}
#hPot {
	display:none;
}
.icon-github {
    background-image: url("../img/github.png");
    background-position: 0 center;
}
.icon-twitter {
    background-image: url("../img/bird_14_black.png");
    background-position: 0 center;
}
