@font-face {
	font-family: 'Tribalytics Main';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

.tribalytics-logo {
	font-family: 'Lobster', cursive;
	font-size: 28px;
}

#spinner {
	background: url(/assets/img/spinner.gif) no-repeat;
	display: none;
	width: 36px;
	height: 36px;
	margin: 0 auto;
}

#hPot {
	display:none;
}

/**** Homepage Key List ****/
#key-list li {
	font-size: 22px;
	margin-bottom: 20px;
}
#key-list span {
	margin-right: 15px;
}
#key-list li:nth-child(1) span {
	color:#1f54b4;
}
#key-list li:nth-child(2) span {
	color:#ff630e;
}
#key-list li:nth-child(3) span {
	color:#47a02c;
}
/**** End homepage Key List ****/

#form-feedback {
	display: none;
}

.tw_authority {
	font-size: @font-size-h4;
	font-weight: bold;
	text-align: right;
}
.btn.buttonHeading {
	margin: ceil((@font-size-h1 / 2)) !important;
	border: none !important;
	border-radius: 0;
	font-size: @font-size-h1;
	padding: 0px;
	border-bottom: 1px solid @brand-primary !important;
	background-color: @gray-lighter;
}

.btn.buttonHeading:hover {
	background-color: @gray-light;
}

.btn.buttonHeading.caret {
	font-size: @font-size-h1;
}

footer {
	background-color: #7F7F7F;
	color: #FFFFFF;
	padding-bottom: 30px;
	padding-top: 30px;
	z-index: 10;
}
footer a {
	color: #FFFFFF;
}
footer a:hover {
	color: #FFFFFF;
}

.giant {
	font-size: 2em;
}

.large {
	font-size: 1.5em;
}

.normal {
	font-size: 1em;
}

.badge {
	margin:2px;
}


a.editable-click:hover {
	background:#fff;
}

.editable-panel-footer-cmnty, .editable-panel-footer-report{
	color: #000;
}

.editable-empty-custom{
	color: @gray-light;
	text-decoration: none;
}

.url, .wordwrap{
	white-space: pre-wrap;
	word-wrap: break-word;
}


#sidebar {
	z-index: 1;
}


/**** Affix ****/
@media (min-width: 979px) {
	#sidebar.affix-top {
		position: static;
		width:255px;
	}

	#sidebar.affix {
		position: fixed;
		top: 70px;
		bottom: 0px;
		width:255px;
		overflow-y: auto;
	}
}

.affix,.affix-top {
	position:static;
}

#sidebar li.active a {
	background-color: @gray-dark;
	color: #ffffff;
}

.page-break	{ display: none; }

.tag-holder h4 {
	display: block;
	clear: both;
}


/**** Segment Chart CSS *****/

rect.background {
	fill: white;
}

.axis {
	shape-rendering: crispEdges;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
}

.enter {
	padding: 0;
}

/*** fix for hidden anchors under the header ***/
/*** as seen in http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header ***/
a.anchor{display: block; position: relative; top: -60px; visibility: hidden;}


/* Segment sidebar remove padding */
.segment-sidebar .list-group-item {
	padding: 0 0 !important;
}

.align-center {
	text-align: center;
}

.tag-holder p.small {
	line-height: 1;
	font-size: 70%;
}

.tag-holder rect.background {
	fill: #F5F5F5;
}

.panel-title-badge {
	margin-right: 10px;
}

.panel-title-badge-guide {
	margin-right: 0 !important;
}

.introjs-helperNumberLayer {
	line-height: 11px !important;
}

.panel-default > .panel-heading-inverse {
	background-color: @gray-dark ;
	color: #FFFFFF;
}

.cmnty-edit-icon {
	margin: 0 10px;
}

.hidden-report-init {
	display: none;
}

.spinner-pull-right {
	float: right;
	top: 20px;
}

#inline-competitive-report-form {
	padding:20px;
}

/* Table fixed height */
.table-fixed-height {
	height: 350px;
	overflow-y: auto;
}

/* TR Border right Is own */
.borderRIghtIsOwn {
	border-right: 3px solid #009D10;
}


.border-left {
	border-left: 1px solid #ccc;
}

.tm-tag.tm-tag-warning {
	color: #fff !important;
}

.valign-middle {
	vertical-align: middle !important;
}

.valign-top {
	vertical-align: top !important;
}

.inline-block {
	display: inline-block;
}

.guide-question-mark {
	margin-top: 18px;
	font-size: 2em;
}

#facet-search a {
	color: @gray;
}

/**************** INFLUENCERS *************************/

li.facet-hover div:hover{
	background:#eee  !important;
}

#wrap {
	min-height: 600px;
}

h4.panel-influencers-title {
	color: #AAAAAA;
}

li.facet-header {
	padding: 0;
}

li.facet-hover {
	padding: 0px 15px;
}

.selected-row {
	background-color: #f3e09a;
}


@media print {

	#wrap > .container {
		padding-top: 0px;
	}

	.page-header {
		border-bottom: 0 solid #EEEEEE;
		margin: 0;
		padding-bottom: 9px;
	}

	.cmnty {
		color: #fff !important;
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}

	.badge {
		color: #fff !important;
		background-color: #777 !important;
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}

	.editable-click, a.editable-click, a.editable-click:hover {
		color: #000 !important;
		border-bottom: none !important;
		text-decoration: none;
	}


	.editable-empty-custom {
		display: none;
	}
	.btn-add-to-list {
		display: none;
	}
	.loadmore {
		display: none;
	}

	a[href]:after {
		content: none;
	}

	.page-break	{ display: block; page-break-before: always; }

	.table-community-members {
		width: 100%;
	}

	.tw_authority {
		font-size: @font-size-h4;
		font-weight: normal;
		text-align: right;
	}

	#footer {
		display: none;
	}


	.col-md-9{
		width: 100%;
		float: none;
		display: block;
	}

	h2.print-brand{
		line-height: 40px;
	}

	.tag-holder rect.background {
		fill: #ffffff;
	}


	/* Table fixed height */
	.table-fixed-height {
		height: auto !important;
		overflow-y: visible !important;
	}

}
